@import "tailwindcss";

@theme {
  --shadow-Page: -13px 9px 1px  #3B3D2A;
  --shadow-Page2: 13px 9px 1px  #3B3D2A;
}

body {
  background: linear-gradient(180deg, #0D082D 31%, #1C125B 100%);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.CircleLR {
  background-color: #E1604F;
  border-radius: 3px;
  width: 35%;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

.icone {
  width: 60px;
  height: 60px;
  background-color: #534BA0;
  box-shadow: 2px 10px #766BDE;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: anima linear infinite;
  animation-duration: calc(300s / var(--i));
}

.scala {
  animation: scala 1.7s ease-in-out;
}

.scalaReverse {
  animation: scalaReverse 1.7s ease-in-out;
}
 
@keyframes anima {
  0% {
    transform: translateY(200vh) scale(0) rotate(0deg);
  }
  100% {
    transform: translateY(-10vh) scale(1) rotate(360deg);
  }
}

@keyframes scala {
  0% { transform: scale(0); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}


@keyframes scalaReverse {
  0% { transform: scale(0); }
  50% { transform: scale(0.95); }
  100% { transform: scale(1); }
}
